

{%extends "::base.html.twig"%}

{% block body %}   


    



    <div class="row">
        <div class=" col-md-8">
            <p>Universal Pharma est née de la fusion de plusieurs firmes américaines (spécialisé dans le secteur des maladies virales dont le SIDA et les hépatites) et européennes
                En 2012, les deux géants pharmaceutiques ont uni leurs forces pour créer un leader de ce secteur industriel. L’entité Universal Pharma Europe a établi son siège administratif à Paris.
                La France a été choisie comme témoin pour l’amélioration du suivi de l’activité de visite.

            </p>
        </div>

        <div class="col-md-4 ">
            <h3>Universal Pharma</h3>  
            <p>72 Impasse des Carrières, 75016 Paris</p>
            <p>Tel: +33(0) 1 53 01 93 40</p>
            <p>Fax: +33(0) 1 53 01 93 42</p>
            <p>Email: info@universalpharma.com</p>
        </div>
    </div>
                









{% endblock  %}  

