{%extends "::base.html.twig"%}

{% block body %}  
    
    <div class="clients">
        <h3><strong>Nos clients:</strong></h3>
    </div>
    
    <div class="row">
        <div class="col-md-4">

            <ul>
                <li>Pharmacie Monge: 74 Rue Monge Paris</li>
                <li>Pharmacie Bader</li>
                <li>Grande Pharmacie de la Nation</li>
                <li>Pharmacie Les Champs Elysées</li>
                <li>Grande Pharmacie d'Auteuil</li>
                <li>Pharmacie Européenne</li>
                <li>Pharmacie Homéopathique de l'Europe</li>
                <li>Pharmacie Montreuil</li>
                <li>Pharmacie Val d'europe</li>
                <li>Pharmacie Bercy2</li>
                <li>Pharmacie paris Nord2</li>
                <li>Pharmacie Paris Est</li>


            </ul>


        </div>
        <div class="col-md-4">
            <ul>
                <li>D&A Pharma SAS</li>
                <li>Daiichi Sankyo France SAS</li>
                <li>DB Pharma</li>
                <li>Allergan France</li>
                <li>Alter</li>
                <li>Allergan France</li>
                <li>Abbott Products SAS</li>
                <li>AbbVie Ltd</li>
                <li>ABC Pharmacare</li>
                <li>ctavis France Aerocid</li>
                <li>Doliage</li>
                <li>Lazerty</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li> Pierre Fabre</li>
                <li> Msd en France</li>
                <li> Servier</li>
                <li>Pfizer France</li>
                <li> Amgen</li>
                <li>H2 Pharma</li>
                <li>HAC Pharma</li>
                <li>Hepatoum</li>
                <li>Madaus</li>
                <li>Merck Médication Familiale</li>
                <li>Mundipharma</li>
                <li>Mylan</li>

            </ul>
        </div>

    </div>
{% endblock  %}     

{# empty Twig template #}
